<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technicdude.loginpage">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Free Legal Help"
        android:roundIcon="@drawable/tarazu2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".services2"
            android:exported="false" />
        <activity
            android:name=".disclaimer2"
            android:exported="false" />
        <activity
            android:name=".contactus"
            android:exported="false" />
        <activity
            android:name=".disclaimer"
            android:exported="false" />
        <activity
            android:name=".drawer"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>